[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
footmark = "*"

[dev-packages]
pipenv = "*"
setuptools-git-versioning = "*"

[requires]
python_version = "3.12"
